<!-- <div class="fecha">
  <mat-form-field>
    <mat-label>Input disabled</mat-label>
    <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="dp3" disabled>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
  </mat-form-field>
</div> -->


<mat-form-field>
  <input matInput [matDatepicker]="picker" [(ngModel)]="fechaSeleccionada" (dateChange)="onFechaCambio($event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<!-- El botón solo se muestra si aún no hay una tabla para la fecha seleccionada -->
<button *ngIf="mostrarBoton" (click)="agregarTabla(fechaSeleccionada)">Agregar Tabla</button>

<!-- Listado de tablas para la fecha seleccionada -->
<div *ngFor="let tabla of tablas; let i = index">
  <div>
    <h2>Tabla {{ i + 1 }}</h2>
    <table class="styled-table">
      <thead class="table-danger">
        <tr>
          <th>Cuenta</th>
          <th>Dueño de la cuenta</th>
          <th>Tipo de apuesta</th>
          <th>Divisa</th>
          <th>Betburger</th>
          <th>Trademate</th>
          <th>Telegram</th>
          <th>OddJam</th>
          <th>Total apostado</th>
          <th>Saldo Inicial</th>
          <th>Observacion del día</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <thead>
        <tr class="text-center">
            <th colspan="13">DINAMARCA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Unibet</td>
          <td><a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Mark</a></td>
          <th scope="row">
            <select class="form-select" aria-label="Default select example">
              <option selected>Sencillas</option>
              <option value="1">Combinada</option>
              <option value="2">Vivo</option>
              <option value="3">Preapuestas combinadas</option>
            </select>
          </th>
          <td>DKK</td>
          <td class="iconos">
            <mat-icon class="icon" aria-hidden="false" data-bs-toggle="modal" data-bs-target="#apuesta_betburger" aria-label="Example home icon" fontIcon="add_circle_outline"></mat-icon>
            <mat-icon class="icon" aria-hidden="false" data-bs-toggle="modal" data-bs-target="#registrodeapuesta_betburger" aria-label="Example home icon" fontIcon="event_note"></mat-icon>
          </td>
          <td class="iconos">
            <mat-icon class="icon" aria-hidden="false" data-bs-toggle="modal" data-bs-target="#apuesta_trademate" aria-label="Example home icon" fontIcon="add_circle_outline"></mat-icon>
            <mat-icon class="icon" aria-hidden="false" data-bs-toggle="modal" data-bs-target="#registrodeapuesta_trademate" aria-label="Example home icon" fontIcon="event_note"></mat-icon>
          </td>
          <td class="iconos">
            <mat-icon class="icon" aria-hidden="false" data-bs-toggle="modal" data-bs-target="#apuesta_telegram" aria-label="Example home icon" fontIcon="add_circle_outline"></mat-icon>
            <mat-icon class="icon" aria-hidden="false" data-bs-toggle="modal" data-bs-target="#registrodeapuesta_telegram" aria-label="Example home icon" fontIcon="event_note"></mat-icon>
          </td>
          <td class="iconos">
            <mat-icon class="icon" aria-hidden="false" data-bs-toggle="modal" data-bs-target="#apuesta_oddjam" aria-label="Example home icon" fontIcon="add_circle_outline"></mat-icon>
            <mat-icon class="icon" aria-hidden="false" data-bs-toggle="modal" data-bs-target="#registrodeapuesta_oddjam" aria-label="Example home icon" fontIcon="event_note"></mat-icon>
          </td>
          <td>Hello</td>
          <td><input type="text" id="numberInput6" (keyup)="formatInput($event)"></td>
          <th scope="row">
            <select class="form-select" aria-label="Default select example">
              <option selected>Activa</option>
              <option value="1">Limites</option>
              <option value="2">Sin acceso</option>
              <option value="3">Sin internet</option>
            </select>
          </th>
          <td class="iconos">
            <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
            <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="save"></mat-icon>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let fila of tabla.datos">
          <td>{{ fila.cuenta }}</td>
          <td>{{ tabla.fecha }}</td>
          <td>{{ fila.hora }}</td>
          <td>{{ fila.dato1 }}</td>
          <td>{{ fila.dato2 }}</td>
          <td>{{ fila.dato2 }}</td>
          <td>{{ fila.dato2 }}</td>
          <td>{{ fila.dato2 }}</td>
          <td>{{ fila.dato2 }}</td>
          <td>{{ fila.dato2 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Visualización del tiempo hasta la medianoche -->
<div>
  <!-- <p>Tiempo hasta la medianoche: {{ tiempoHastaMedianoche }}</p> -->
</div>
